@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poppins:wght@300;400&display=swap");

:root {
  --fontColor: #d7d7d5;
  --primaryAccent: #9d333f;
  --secondaryAccent: #36576d;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1d292f;
  color: var(--fontColor);
}
