.card-group,
.tarot-card {
  width: 30vmin;
  aspect-ratio: 3 / 5;
}

.tarot-card {
  background-color: #d7d7d5;
  position: absolute;
  border-radius: 1vmin;
  transition: transform 800ms cubic-bezier(0.2, 0.73, 0.27, 0.86);
}

.tarot-card:nth-child(1) {
  background-color: #9d333f;
  transform: translateX(-10%) rotate(-2deg);
}
.tarot-card:nth-child(2) {
  background-color: #36576d;
  transform: translateX(5%) rotate(3deg);
}
.tarot-card:nth-child(3) {
  transform: rotate(1deg);
}

.card-group:hover > .tarot-card:nth-child(1) {
  transform: translate(-25%, 3%) rotate(-8deg);
}
.card-group:hover > .tarot-card:nth-child(2) {
  transform: translate(-5%);
}
.card-group:hover > .tarot-card:nth-child(3) {
  transform: translate(20%, 5%) rotate(10deg);
}
