.image1Background {
  background-image: url("../assets/image1.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}

.landingPage {
  min-height: 100vh;
}

#landingQuote {
  padding: 0 6em;
  font-family: "Homemade Apple", cursive;
}

.author {
  color: #d2673d;
  display: inline-block;
  transform: translate(50px, 50px);
  font-family: "Poppins", sans-serif;
}

.fade {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.visible {
  opacity: 1;
}
